Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.fbx
Content/Maps/FinalMaps/L_Adventure_DAOC_BuiltData.uasset
Content/Maps/FinalMaps/L_AdvenctureV2_BlockOut_BuiltData.uasset
Content/Test/
.idea/
enc_temp_folder/
GAME259A.sln.DotSettings.user
Build/
