Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Maps/FinalMaps/L_Adventure_DAOC_BuiltData.uasset
Content/Test/
.idea/
*.fbx
enc_temp_folder/
